<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agendamento de exames</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container mt-2 px-3">
            
        <nav class="nav align-items-center justify-content-between bg-dark border-bottom">
            <div class="nav-item align-self-center text-white ms-4" id="ag">Agendamento de Exames: Tomografia</div>
            <div class="nav-item align-self-center clicavel m-1" onclick="recarregarPag()">              
                <img src="/img/logo2.png" alt="Logo do hospital unimed de lins">
            </div>
        </nav>
        <div class="row m-1">
            <a href="/" class="btn btn-secondary col-1">
                <i class="bi bi-arrow-left"></i> Voltar
            </a>
        </div>
        <div class="row mt-3 align-items-center ">
            <div class="col">
                <p class="mb-0 align-self-center linha1">Lista de Exames Finalizados</p>
            </div>
            <div class="col d-flex align-items-end">
                <p class="mb-0 me-2 align-self-center linha2">Procurar:</p>
                <input type="text" class="form-control align-self-center pesquisa" placeholder="Digite aqui..." oninput="pesquisar(this.value)">
            </div>
        </div>
        <br>
        <form id="filtroDataForm" method="GET" action="/finalizadasFiltradas">
            <div class="row mb-3">
                <div class="col">
                    <label for="dataInicial" class="form-label">Data Inicial</label>
                    <input type="date" class="form-control" id="dataInicial" name="dataInicial" value="<%= dataInicial %>">
                </div>
                <div class="col">
                    <label for="dataFinal" class="form-label">Data Final</label>
                    <input type="date" class="form-control" id="dataFinal" name="dataFinal" value="<%= dataFinal %>">
                </div>
                <div class="col align-self-end">
                    <button type="submit" class="btn btn-primary mt-2">Pesquisar</button>
                </div>
            </div>
        </form>
        
        <table id="tabelaConsultasOrd" class="table sortable mt-5 text-center">
            <thead class="table">
                <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">Nome do Paciente</th>
                    <th scope="col">Data do Exame</th>
                    <th scope="col">Tipo de Exame</th>
                    <th scope="col">Convênio</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="tabelaConsultas">
                <% consultas.forEach(consulta => { %>
                    <tr id="<%= consulta.id %>" data-data-exame="<%= moment(consulta.dataExame).format('YYYYMMDDHHmmss') %>">
                        <!-- <td><%= consulta.id %></td> -->
                        <td><%= consulta.nomePaciente %></td>
                        <td class="data-cell" data-data="<%= consulta.dataExame %>" ><%= moment(consulta.dataExame).format('DD/MM/YYYY HH:mm') %></td>
                        <td><%= consulta.tipoExame %></td>
                        <td><%= consulta.convenio %></td>
                        <td class="linha-status"><%= consulta.status %></td>
                        <td id="botoes">
                            <button type="button" class="btn btn-primary btn-sm icones"  onclick="abrirModalVisu('<%= JSON.stringify(consulta) %>')">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm icones" data-bs-toggle="modal" data-bs-target="#confirmarExclusaoModal" onclick="prepararExclusao('<%= consulta.id %>')">
                                <i class="bi bi-trash"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm icones" onclick="abrirModalEdicao('<%= JSON.stringify(consulta) %>')">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <button onclick="gerarRelatorio()" disabled>Gerar Relatório (Desabilitado) </button>



        
            <!-- Modal de Visualização dos dados -->
            <div class="modal fade" id="visualizarModal" tabindex="-1" role="dialog" aria-labelledby="visualizarModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="visualizarModalLabel">Visualizar Consulta</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" onclick="fecharModal('visualizarModal')" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulário de Visualizar -->
                            <form id="formularioVisu" method="POST">
                                <!-- Campos do formulário -->
                                <div class="mb-3">
                                    <label for="nomePaciente" class="form-label">Nome do Paciente:</label>
                                    <input type="text" class="form-control" id="nomePacienteVisu" name="nomePaciente"  readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="telefone" class="form-label">Telefone:</label>
                                    <input type="text" class="form-control" id="telefoneVisu" name="telefone"  readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="dataAbertura" class="form-label">Data da Abertura</label>
                                    <input type="datetime-local" class="form-control" id="dataAberturaVisu" name="dataAbertura" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="convenio" class="form-label">Convênio</label>
                                    <input type="text" class="form-control" id="convenioVisu" name="convenio" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="tipoExame" class="form-label">Tipo de Exame</label>
                                    <input type="text" class="form-control" id="tipoExameVisu" name="tipoExame" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="dataExame" class="form-label">Data do Exame</label>
                                    <input type="datetime-local" class="form-control" id="dataExameVisu" name="dataExame" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="numGuia" class="form-label">Número da Guia</label>
                                    <input type="text" class="form-control" id="numGuiaVisu" name="numGuia" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    <input type="text" class="form-control" id="statusVisu" name="status" readonly>
                                </div>
                                <!-- Campo Oculto para Armazenar o ID da Consulta -->
                                <input type="hidden" id="idVisu" name="id">
                                
                                <!-- Botões do formulário -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="abrirExame()">Reabrir Exame</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal de ediçaõ dos dados -->
            <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarModalLabel">Editar Consulta</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" onclick="fecharModal('editarModal')" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulário de Edição -->
                            <form id="formularioEdicao" method="PUT">
                                <!-- Campos do formulário -->
                                <div class="mb-3">
                                    <label for="nomePaciente" class="form-label">Nome do Paciente:</label>
                                    <input type="text" class="form-control" id="nomePacienteEdit" name="nomePaciente" required>
                                </div>
                                <div class="mb-3">
                                    <label for="telefone" class="form-label">Telefone:</label>
                                    <input type="text" class="form-control" id="telefoneEdit" name="telefone" required>
                                </div>
                                <div class="mb-3">
                                    <label for="dataAbertura" class="form-label">Data da Abertura</label>
                                    <input type="datetime-local" class="form-control" id="dataAberturaEdit" name="dataAbertura" required>
                                </div>
                                <div class="mb-3">
                                    <label for="convenio" class="form-label">Convênio</label>
                                    <select class="form-select" id="convenioEdit" name="convenio" required>
                                        <option selected disabled>Selecione um convênio</option>
                                        <option value="Unimed Lins">Unimed Lins</option>
                                        <option value="Unimed - Outras">Unimed - Outras</option>
                                        <option value="Particular">Particular</option>
                                        <option value="Fusex">Fusex</option>
                                        <option value="Cabesp">Cabesp</option>
                                        <option value="Outros - Não especificado">Outros - Não especificado</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="tipoExame" class="form-label">Tipo de Exame</label>
                                    <input type="text" class="form-control" id="tipoExameEdit" name="tipoExame" required>
                                </div>
                                <div class="mb-3">
                                    <label for="dataExame" class="form-label">Data do Exame</label>
                                    <input type="datetime-local" class="form-control" id="dataExameEdit" name="dataExame" required>
                                </div>
                                <div class="mb-3">
                                    <label for="numGuia" class="form-label">Número da Guia</label>
                                    <input type="text" class="form-control" id="numGuiaEdit" name="numGuia" required>
                                </div>
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    <input class="form-control" list="datalistOptions" id="statusEdit" name="status">
                                    <datalist id="datalistOptions">
                                    <option value="Em aberto">
                                    <option value="Aguardando">
                                    </datalist>
                                </div>
                                <!-- Campo Oculto para Armazenar o ID da Consulta -->
                                <input type="hidden" id="idEdit" name="id">
                                <!-- Botão de Envio -->
                                <button type="button" class="btn btn-primary" onclick="enviarEdicao()">Salvar Alterações</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Modal de Confirmação -->
            <div class="modal fade" id="confirmarExclusaoModal" tabindex="-1" role="dialog" aria-labelledby="confirmarExclusaoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmarExclusaoModalLabel">Confirmar Exclusão</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Tem certeza que deseja excluir esta consulta?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="confirmarExclusaoBtn" onclick="confirmarExclusao()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        <script>
            document.addEventListener("DOMContentLoaded", function() {

            // Seleciona todas as linhas da tabela
            var linhasStatus = document.querySelectorAll(".linha-status");
                // Itera sobre cada linha
                linhasStatus.forEach(function(linha) {
                    var linhaGeral = linha.parentNode;
                    // Verifica se o status da linha é diferente de "Finalizado"
                    if (!linha.innerText.includes("Finalizado")) {
                        linhaGeral.style.display = "none";
                    }
                });
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script> -->
        <script src="/js/exclusao.js"></script>
        <script src="/js/abrirExame.js"></script>
        <script src="/js/visualizar.js"></script>
        <script src="/js/edicao.js"></script>
        <script src="/js/filtroDatas.js"></script>
        <script src="/js/pesquisa.js"></script>
        <!-- <script src="/js/gerarRelatorio.js"></script> -->
</body>
</html>